global
  chroot  /var/lib/haproxy
  daemon
  group  haproxy
  maxconn  4000
  pidfile  /var/run/haproxy.pid
  user  haproxy

defaults
  log  global
  maxconn  4000
  option  redispatch
  retries  3
  timeout  http-request 360s
  timeout  queue 1m
  timeout  connect 360s
  timeout  client 10000m
  timeout  server 10000m
  timeout  check 360s


listen keystone_admin_cluster
  bind {{hostvars[inventory_hostname].openstack.private_v4}}:35357
  balance  roundrobin
  option  tcpka
  option  tcplog
  {% for item in range(1, n_slaves|int + 1) %}
server {{ cluster_name + '-TAR1slave-%d' | format(item) }} {{hostvars[groups[cluster_name + '-slave-%d' | format(item)][0]  ].openstack.private_v4}}:35357 check inter 2000 rise 2 fall 5
server {{ cluster_name + '-TAR2slave-%d' | format(item) }} {{hostvars[groups[cluster_name + '-slave-%d' | format(item)][0]  ].openstack.private_v4}}:35358 check inter 2000 rise 2 fall 5
  {% endfor %}


