{% if item is defined and item.endpoint_role is defined %}
{% set endpoint_role=item.endpoint_role %}
{% else %}
{% set endpoint_role="admin" %}
{% endif %}
[uwsgi]
disable-logging=True
socket = /tmp/keystone_{{ endpoint_role }}.sock
chmod-socket = 666
processes = 8
workers = 8
master = 1
listen = 1500
harakiri = 1
wsgi-file = {{ keystone_cgi_dir }}/{{ endpoint_role }}
